<!DOCTYPE html>

<html>
<head>
    <title>Contrat-Agile.org</title>
    <meta name="google-site-verification" content="-VoacFZvKnoCRn-KK8BNBPYAz7YkDdBTY9M_fQGmkCU" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="google-site-verification" content="-VoacFZvKnoCRn-KK8BNBPYAz7YkDdBTY9M_fQGmkCU" />
    <link rel="stylesheet" href="css/bootstrap-1.3.0.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="js/bootstrap-modal.js"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27285879-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>

<div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar" data-dropdown="dropdown">
        <div class="topbar-inner">
            <div class="container">
                <a class="brand" href="index.html">Contrat-Agile.org</a>
                <ul class="nav">
                    <li class="active"><a href="index.html ">Accueil</a></li>
                    <li class=" dropdown"><a href="#"
                                             class="dropdown-toggle">Le Contrat</a>
                        <ul class="dropdown-menu">
                            <li><a href="structure.html">Structure</a></li>
                            <li class="divider"/>
                            <li><a href="pqs.html">PQS</a></li>
                            <li><a href="annexe-finnanciere.html">Annexe financière</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="apropos.html">À propos</a></li>
                    <li class=""><a href="credits.html">Crédits</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="content">
        {{content}}


    </div>


    <div class="row">&nbsp;</div>

    <footer>
        <div class="row">
            <div class="span14">
                <div class="row">
                    <div class="span2">

                    </div>
                    <div class="span2 offset12">
                        &copy; Xebia 2011</a>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>

</body>
</html>